h2{
  display: flex;
  justify-content: center;
  color: rgb(47, 47, 47);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

ul{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.produtos {
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.produtos li {
  display: flex;
}

.produtos button {
  display: flex;
  flex: 1;
  cursor: pointer;
  position: relative;
  /* left: 0; */
  background-color: #EEE;
  margin: 10px;
  padding: 0;
  border-radius: 40px;
  align-items: stretch;
  height: 2em;
}

.produtos button:hover {
  color: #000000;
  background-color: #e6e6e6;
  left: .1em;
}

.produtos button:active {
  background-color: #525252;
  color: #fafafa;
}

.produtos button.selected {
  background-color: rgb(88, 88, 88);
  color: white;
}

.produtos button.selected:hover {
  background-color: #c1c1c1;
  color: rgb(0, 0, 0);
}

.produtos button.selected:active {
  background-color: rgb(190, 190, 190);
  color: rgb(0, 0, 0);
}

.produtos .badge {
  display: inline-block;
  font-size: small;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: .7em;
  background-color: #ffb700;
  margin-right: 1em;
  border-radius: 100px;
  border: 3px solid rgb(255, 255, 255);
}

.produtos .nome {
  align-self: center;
}
