h1 {
  color: rgb(246, 255, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  display: flex;
  justify-content: center;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  /* margin: 0 0 30px 0; */
 }

button:hover {
  background-color: black;
  border: 1px solid rgb(141, 141, 141);
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
